:root {
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.1
}

body {
    margin: 0;
    overflow: hidden;
}

.icon {
    height: 1em;
    width: 1em;
    vertical-align: -0.15em;
    /*fill: currentColor;*/
    overflow: hidden;
}
